@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommentAdd</title>
</head>
<body>
    <form method="post">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Name" />
        </div>
        <div class="form-group">
            <textarea name="comment" class="form-control" placeholder="Comment"></textarea>
        </div>
        <input type="submit" value="Submit Comment" class="btn btn-primary btn-sm" />
    </form>
    <hr />
    <div>
        <h1>Comments</h1>
        <strong>@ViewBag.name</strong>
        <hr />
        @*<span>@Html.Raw(ViewBag.comment)</span>
        <span>Html.Raw(ViewBag.comment) XSS Güvenlik açığına sebep olur</span>*@
        @if (ViewBag.comment != null)
        {
            foreach (var comment in ViewBag.comment as string[])
            {
                <span>@Html.Raw(comment)</span>
                <hr />
            }
        }
    </div>
</body>
</html>
